# tools, IDEs, build folders
/.coverage/
/.idea/
/*.geany
.sass-cache/
/build/
/dist/
/*.egg-info/
/docs/build/

# Django and Python
/static/
/media/
*.py[cod]

# Virtualenv magic, see https://gist.github.com/bittner/8830745
.venv

