beautifulsoup4==4.5.1
cmsplugin-zinnia==0.8.1
cssselect==0.9.2
defusedxml==0.4.1
Django==1.8.14
django-allauth==0.27.0
django-analytical==2.2.1
django-apptemplates==1.2
django-blog-zinnia==0.16
django-classy-tags==0.8.0
django-cms==3.3.2
django-contrib-comments==1.7.2
django-formtools==1.0
django-mptt==0.8.6
django_organice_theme==0.4.1
django-sekizai==0.10.0
Django-Select2==4.3.2
django-simple-links==0.1.4
django-tagging==0.4.4
django-tinymce==2.4.0
django-todo==1.6
django-treebeard==4.0.1
django-xmlrpc==0.1.5
djangocms-admin-style==1.2.3
djangocms-attributes-field==0.1.1
djangocms-file==1.0
djangocms-grid==1.3.0
djangocms-inherit==0.2.1
djangocms-link==1.8.2
djangocms_maps==0.6.0
djangocms-oembed==0.5
djangocms-picture==1.0.0
djangocms-table==1.2
djangocms-teaser==0.2.0
djangocms-text-ckeditor==3.1.0
easy-thumbnails==2.3
html5lib==0.9999999
lxml==3.6.4
micawber==0.3.3
mots-vides==2015.5.11
oauthlib==2.0.0
Pillow==3.3.1
pyparsing==2.1.8
pyquery==1.2.13
python3-openid==3.0.10
pytz==2016.6.1
requests==2.11.1
requests-oauthlib==0.6.2
six==1.10.0
solid-i18n==1.3.0
