beautifulsoup4==4.4.1
cmsplugin-zinnia==0.8
cssselect==0.9.1
defusedxml==0.4.1
Django==1.8.8
django-allauth==0.24.1
django-analytical==1.0.0
django-apptemplates==1.0
django-blog-zinnia==0.15.2
django-classy-tags==0.7.0
django-cms==3.2.0
django-contrib-comments==1.6.2
django-formtools==1.0
django-mptt==0.8.0
django-organice-theme==0.3
django-sekizai==0.9.0
Django-Select2==4.3.2
django-simple-links==0.1.1
django-tagging==0.4.1
django-tinymce==2.2.0
django-todo==1.5
django-treebeard==3.0
django-xmlrpc==0.1.5
djangocms-admin-style==1.0.8
djangocms-file==0.2.0
djangocms-flash==0.3.0
djangocms-googlemap==0.4.0
djangocms-grid==1.3.0
djangocms-inherit==0.1.1
djangocms-link==1.7.1
djangocms-oembed==0.5
djangocms-picture==0.2.0
djangocms-table==1.2
djangocms-teaser==0.2.0
djangocms-text-ckeditor==2.8.1
djangocms-video==0.2.0
easy-thumbnails==2.3
html5lib==0.9999999
lxml==3.5.0
micawber==0.3.3
mots-vides==2015.5.11
oauthlib==1.0.3
Pillow==3.1.0
pyparsing==2.0.7
pyquery==1.2.10
python3-openid==3.0.9
pytz==2015.7
requests==2.9.1
requests-oauthlib==0.6.0
six==1.10.0
solid-i18n==1.1.1
