BeautifulSoup==3.2.1
Django==1.5.8
Pillow==2.4.0
South==0.8.4
beautifulsoup4==4.3.2
cmsplugin-contact==1.0.0
cmsplugin-zinnia==0.5.1
django-allauth==0.16.1
django-analytical==0.18.0
django-apptemplates==0.0.1
django-blog-zinnia==0.13
django-classy-tags==0.5.1
django-cms==2.4.3-support
django-media-tree==0.8.1
django-mptt==0.5.2
django-organice==0.2
django-organice-theme==0.2
django-reversion==1.8.0
django-sekizai==0.7
django-simple-links==0.1.1
django-tagging==0.3.2
django-tinymce==1.5.2
django-todo==1.4.dev
django-xmlrpc==0.1.5
easy-thumbnails==2.0.1
emencia.django.newsletter==0.3.dev
html2text==2014.4.5
html5lib==0.999
oauthlib==0.6.3
pyparsing==2.0.2
python-dateutil==1.5
python-openid==2.2.5
pytz==2014.4
requests==2.3.0
requests-oauthlib==0.4.1
six==1.7.2
solid-i18n==0.4.3
vobject==0.6.6
xlrd==0.9.3
xlwt==0.7.5
